<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>LaSuBu Designs</title>
		<link rel="stylesheet" href="../../content/css/style.css" type="text/css" runat="server"/>
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">
		<!--[if IE 6]>
			<link rel="stylesheet" href="css/ie6.css" type="text/css" />
		<![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css" />
		<![endif]-->
	</head>
	<body>
        <form runat="server">
            <div class="header">
               <div>
				<div class="navigation">
					<ul class="first">											
						<li><a id="A1" href="~/About.aspx" runat="server">About us</a></li>
						<li><a id="A2" href="~/Shop.aspx" runat="server">Shop</a></li>
						<li><a id="A3" href="~/Account/Login.aspx" runat="server">Login</a></li>
					</ul>
				</div>
				</div>
			</div>
		<div class="header">
            <div style="margin: auto">
             <img src="Images/LaSuBuDesigns.png"  />
			</div>
			<div id="navigation">
				<ul>
					<li class="selected"><a href="~/Default.aspx" runat="server">Home</a></li>
					
				</ul>
			</div>
		</div> 
		<div class="body">
			<div class="featured">
				
			</div>
			<div class="article">
                	<asp:ContentPlaceHolder ID="MainContent" runat="server">

					</asp:ContentPlaceHolder>
				<div class="first">
				
				</div>				

				
			</div>
		</div>
		<div class="footer">  
            <p><asp:ImageButton ID="btnFacebook" runat="server" PostBackUrl="http://facebook.com/pages/Lasubu-Designs/116285151752707" ImageUrl="~/Images/find-us-on-facebook-logo-png-i11-300x300.png" Height="75px" Width="75px" /></p>
            <p>&#169; 2012 LaSuBu Designs. All Rights Reserved.</p>
                <p>Template design by <a href="http://www.freewebsitetemplates.com" target="_blank">FreeWebsiteTemplates.com</a></p>
		</div>
        </form>
	</body>
</html>