html,body {
    height: 100%;
}
.banner {
    padding-top: 30px;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.content {
    background: rgb(204, 204, 204);
    background: rgba(204, 204, 204, .6);
    padding-top: 1em;
    padding-left: 1em;
}

.pad {
    padding-top: 1em;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
    
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

.heightAdjust, #footer {
     height: 60px;
}

 @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }